<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button (click)="reiniciar()" expand="block" fill="clear" shape="round">
    Reiniciar
  </ion-button>

  <div id="container">
    <ul>
      <li *ngFor="let dispositivo of dispositivos">
        <p>
          O dispositivo {{dispositivo.nome}} está ativo? {{dispositivo.ativo}}
        </p>
      </li>
    </ul>
  </div>
</ion-content>
